*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
/* Global color */
:root {
    --bg-color: #EDE8F5;
    --text-color: #3D52A0;
    --main-color: #8697C4;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    transition: 0.5s;
}

.logo{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--text-color);
}